@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */
@layer base {
  body {
    @apply bg-grey-3 text-base leading-relaxed font-rubik;
  }
  .section {
    @apply py-[50px] lg:py-[70px];
  }
  .title {
    @apply text-2xl lg:text-[40px] leading-tight font-semibold;
  }
  .subtitle {
    @apply text-[18px] lg:text-[20px] leading-relaxed mb-5 lg:mb-9;
  }
  .admin-card-clip{
	clip-path: polygon(39% 53%, 61% 0, 100% 0, 100% 70%, 100% 100%, 30% 100%, 0 100%, 0 53%);
  }
  table{
	@apply w-full border-collapse border border-grey-2;

  }
  th{
	@apply text-left px-4 py-2 border border-grey-2;
  }
  td{
	@apply text-left px-4 py-2 border border-grey-2;
  }
  tr{
	@apply border border-grey-2;
  }
}
